<template name="BMIForm">

      <form>
        身高：<input type="text" name="myHeight" placeholder="输入你的身高 (厘米)"><br>
        体重：<input type="text" name="myWeight" placeholder="输入你的体重 (公斤)"><br>
        <a href=""></a>
              <input type="submit" value="计算BMI" />
      </form>

    <div id="myHeightInfo"></div> 
    <div id="myWeightInfo"></div> 
    <div id="myBMIInfo"></div> 
    <h2 id="myBMIAssess"></h2>

{{#if currentUser}}
  <li>我的身高是: {{personalBMIInfos.Height}} 厘米</li>
  <li>我的体重是: {{personalBMIInfos.Weight}} 公斤</li>
  <li>我的BMI是: {{personalBMIInfos.BMI}}</li>
  <li>测量时间是在： {{personalBMIInfos.createdAt}}</li>
{{/if}}

{{#if isUnderweight}}
  <h3>isUnderweight</h3>
{{/if}}

{{#if isInNormalRange}}
  <h3>isInNormalRange</h3>
{{/if}}

{{#if isOverweightAtRisk}}
  <h3>isOverweightAtRisk</h3>
{{/if}}

{{#if isOverweightModeratelyObese}}
  <h3>isOverweightModeratelyObese</h3>
{{/if}}

{{#if isOverweightSeverelyObese}}
  <h3>isOverweightSeverelyObese</h3>
{{/if}}
    

</template>